.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}

.crossIcon {
  height: 0.76rem;
  width: 0.76rem;
  position: relative;
  opacity: 0.5;
}

.itemText {
  overflow: hidden;
  transition: 0.3s ease-in-out;

  &.collapsed {
    width: 0;
  }
}

.item:hover .itemText {
  width: 100%;
}
