.cornerDecorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template: 2 2; */
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: space-between;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  padding-bottom: 3.25rem;
  box-sizing: border-box;

  &.collapsed {
    padding-bottom: 1.38rem;
  }
}

.overlayContainer {
  // position: absolute;
  position: relative;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
}

.cornerDecoration {
  position: relative;
  opacity: 0.5;
  // margin: 1.9rem;

  &.type1 {
    width: 4.5rem;
    aspect-ratio: 1;
  }
  &.type2 {
    width: 5.194rem;
    aspect-ratio: 83.1 / 86.36;
    // margin-bottom: 0.87rem;
  }
}

.chevron {
  position: relative;
  margin: 3.63rem;
  width: 18.9rem;
  height: 1rem;

  &.collapsed {
    opacity: 0;
  }
}

.chevronContainer {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
